$primary-color: #6DB7C1;
$secondary-color: #FC5603;
$tertiary-color: #027966;
$tertiary1-color: hsla(170, 97%, 24%, 0.63);
$quaternary-color: #F2F2F2;
$quinary-color: #000000;
$primary-font: 'Montserrat', sans-serif;

//On empeche le scroll horizontal
body{
    overflow-x: hidden;
    font-family: $primary-font;
}

.nav-item{
    font-family: $primary-font;
    font-size: 1.25rem;
    font-weight: 600;
    color: $quinary-color;
    padding: 0 1rem;
    transition: all 0.3s ease-in-out;
}

.logo{
    width: 80%;
    height: 100%;
}

.nav-item.active {
    text-decoration: underline $secondary-color 0.3rem;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4{
    font-family: $primary-font;
    font-weight: bold;
    @include center;
}


/* Parallaxe */

.parallax-container {
    position: relative;
    height: 80vh;
    overflow: hidden;
}

@mixin parallax {
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Important pour l'effet de parallaxe */
    height: 80%;
    width: 100%;
}
.parallax-image {
    background-image: url('../images/jogging.webp');
    @include parallax; 
}

.parallax-image-2 {
    background-image: url('../images/runner_solo.webp'); 
    @include parallax;
}

.parallax-image-3 {
    background-image: url('../images/coureur_aube.webp'); 
@include parallax;
}

.parallax-image-4 {
    background-image: url('../images/candra.webp'); 
@include parallax;
}

.parallax-image-5 {
    background-image: url('../images/contact.webp'); 
@include parallax;
}

.parallax-image-6 {
    background-image: url('../images/blog.webp'); 
@include parallax;
}


.parallax-text {
    position: absolute;
    top: 30%;
    right: 0%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}
.parallax-text-3 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.parallax-text p, .parallax-text-3 {
    font-size: 3em;
}

/* Fin Parallaxe */

.imgAccueil, .imgAccueil2 {
    box-shadow: $quinary-color 0rem 0 1rem;
}
.imgAccueil {
    border-radius: 1rem 0 0 1rem;
}

.imgAccueil2 {
    border-radius: 0 1rem 1rem 0;
}

.btn-original{
    background-color: $secondary-color;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-family: $primary-font;
    font-weight: bold;
    color: $quaternary-color;
    transition: all 0.3s ease-in-out;
}

.shadow {
  filter: drop-shadow(20px -20px 0px  $primary-color);
}

.formation {
    background-color: $secondary-color;
    font-family: $primary-font;
    color: $quaternary-color;
    border-radius: 0 1.5rem 1.5rem 0;
    padding: 0.5rem;
    transition: all 0.3s ease-in-out;
    margin-left: 90px;
}

.formation p {
    margin-left: 90px; 
}

/*.card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 1rem $primary-color;
}*/

.card {
    background-color: $primary-color;
    font-family: $primary-font;
    color: $quaternary-color;
    border-radius: 1rem;
    padding: 1.5rem;
    width: 80%;
    transition: all 0.3s ease-in-out;
    @include center;
}

.card-title {
    font-weight: bold;
    color: $quinary-color;
    text-align: center;
}

.list-group{
    border-radius: 0.5rem ;
}

@mixin square {
    width: 12em;
    height: 12em;
    color: $quaternary-color;
    padding: 1rem;
    margin-bottom: 10px;
}
.square1 {
    background-color: $primary-color;
    @include square;
}

.square2 {
    background-color: $tertiary-color;
    @include square;
}

.contact {
    background-color: $secondary-color;
    font-family: $primary-font;
    color: $quaternary-color;
    border-radius: 1rem 1rem 1rem 1rem;
    padding: 0.5rem;
    width: 80%;
    transition: all 0.3s ease-in-out;
    @include center;
}

.footer{
    background-color: $secondary-color;
    color: $quaternary-color;
    padding: 1rem;
    text-align: center;
}

footer a{
    color: $quaternary-color;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

