/* $primary-font: 'Montserrat', sans-serif;*/
body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Rajdhani", sans-serif;
}

.nav-item {
  font-family: "Rajdhani", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #000000;
  padding: 0 1rem;
  transition: all 0.3s ease-in-out;
}

.logo {
  width: 80%;
  height: 100%;
}

.nav-item.active {
  -webkit-text-decoration: underline #FC5603 0.3rem;
          text-decoration: underline #FC5603 0.3rem;
}

h1, h2, h3, h4 {
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Parallaxe */
.parallax-container {
  position: relative;
  height: 80vh;
  overflow: hidden;
}

.parallax-container p {
  font-weight: bold;
}

.parallax-image {
  background-image: url("../images/jogging.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Important pour l'effet de parallaxe */
  height: 80%;
  width: 100%;
}

.parallax-image-2 {
  background-image: url("../images/runner_solo.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Important pour l'effet de parallaxe */
  height: 80%;
  width: 100%;
}

.parallax-image-3 {
  background-image: url("../images/coureur_aube.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Important pour l'effet de parallaxe */
  height: 80%;
  width: 100%;
}

.parallax-image-4 {
  background-image: url("../images/candra.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Important pour l'effet de parallaxe */
  height: 80%;
  width: 100%;
}

.parallax-image-5 {
  background-image: url("../images/contact.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Important pour l'effet de parallaxe */
  height: 80%;
  width: 100%;
}

.parallax-image-6 {
  background-image: url("../images/blog.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Important pour l'effet de parallaxe */
  height: 80%;
  width: 100%;
}

.parallax-text {
  position: absolute;
  font-family: "Rajdhani", sans-serif;
  top: 30%;
  right: 0%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.parallax-text-3 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.parallax-text p, .parallax-text-3 {
  font-size: 3em;
}

/* Fin Parallaxe */
.imgAccueil, .imgAccueil2 {
  box-shadow: #000000 0rem 0 1rem;
  max-width: 100%;
  max-height: 100%;
}

.imgAccueil {
  border-radius: 1rem 0 0 1rem;
}

.imgAccueil2 {
  border-radius: 0 1rem 1rem 0;
}

.btn-original {
  background-color: #FC5603;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  color: #F2F2F2;
  transition: all 0.3s ease-in-out;
}

.btn-secondary {
  background-color: #6DB7C1;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  color: #F2F2F2;
  transition: all 0.3s ease-in-out;
}

.btn-secondary:hover {
  background-color: #FC5603;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  color: #F2F2F2;
  transition: all 0.3s ease-in-out;
}

.btn-tertiary {
  background-color: #027966;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  color: #F2F2F2;
  transition: all 0.3s ease-in-out;
}

.shadow {
  /*filter: drop-shadow(20px -20px 0px  $primary-color);*/
  border-radius: 25rem 0rem 0rem 25rem;
}

.formation {
  background-color: #FC5603;
  font-family: "Rajdhani", sans-serif;
  max-width: 60%;
  color: #F2F2F2;
  border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
}

/* 
.formation p {
    margin-left: 90px; 
}

 */ /*CARDS*/
/* .card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 1rem $primary-color;
}
 */
.card {
  background-color: #6DB7C1;
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  color: #000000;
  border-radius: 1rem;
  padding: 1.5rem;
  width: 80%;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-title {
  font-weight: bold;
  color: #000000;
  text-align: center;
}

/*.list-group{
    border-radius: 0.5rem ;
}*/
.list-group-item {
  background-color: #6DB7C1;
}

#elements {
  background-color: #FC5603;
}

/*END OF CARDS*/
/*.aside {
    background-color: $secondary-color;
    font-family: $primary-font;
    color: $quinary-color;
    border-radius: 0rem 1rem 1rem 0rem;
    transition: all 0.3s ease-in-out;
    @include center;
}*/
/* .carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: $secondary-color;
    border-radius: 50%;
    padding: 25px;
}

.carousel-control-prev {
    justify-content: end;
    margin-left: 70px;
}

.carousel-control-next {
    justify-content:start;
    margin-right: 70px;
}
*/
.square {
  color: #000000;
  padding: 1rem;
  margin-bottom: 10px;
  background-color: #027966;
}

/* .square1 {
    background-color: $primary-color;
    @include square;
}

.square2 {
    background-color: $secondary-color;
    @include square;
}
 */
.formRegister {
  width: 50%;
  margin-left: 50px;
}

.contact {
  background-color: #FC5603;
  font-family: "Rajdhani", sans-serif;
  color: #F2F2F2;
  border-radius: 1rem 1rem 1rem 1rem;
  padding: 0.5rem;
  width: 80%;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgBlog {
  max-width: 300px;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.nowrap {
  white-space: nowrap;
}

.card-text-blog {
  text-align: justify;
}

.footer {
  background-color: #FC5603;
  color: #F2F2F2;
  padding: 1rem;
  text-align: center;
}

footer a {
  color: #F2F2F2;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}/*# sourceMappingURL=style.css.map */